
  
 
.mod{
  width: 200%;
}
#btnP{
  position: relative;
  bottom: 5.5em;
  left: 1.5em;
  display:none;
}
.modal-title{
  position: relative;
  left: 5em;
 color: white;
}
.modal-header{
  background-color: rgb(98, 201, 95);
}
.modal-content{
border-color: tomato;
border-width: 1em;
}
#Advertencia{
  color: red;
  display: none;
}

  