.card{
  background-color: #e8e8e8;
  color: white;
  zoom:75%;
  margin-top:2em;
  position: relative;
  bottom: 7.9em;
  animation-name: slidein;
  animation-duration:1.2s;
}
.card:hover{
  opacity: 0.92;
  transition: 0.7s;
  cursor:pointer;
}
.card-text{
  font-size: 1.3em;
  color:black;
}
.card-title{
  font-size: 1.6em;
  color:#1e6d2b;
}
.imgUsuario{
  width: 3em;
  height:3em;
  border-radius: 50%;
  margin-right: 0.9em ;
}
.card-header{
  font-size: 1.5em;
  color:  rgba(2, 7, 255, 0.534);
  background-color:rgb(98, 201, 95);
}

.modal-title{
  font-size: 1.6em;
  color: rgba(2, 7, 255, 0.534);}
.TituloP{font-size: 0.68em;
color:#2a2b44}
.card-text{
  max-width: 10;
}
.Contenido{
  border-style: solid;
  border-bottom: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: tomato;
  margin-bottom: none;
}
#ListaRes{
  transition: 1s;
}
.tituloCarta{
  color: #2a2b44;

}
@keyframes slidein {
  from {
  
    opacity: 0;
  }

  to {
    opacity: 1;
    
  }
}

