<div class="card">
  <h5 class="card-header"><img class="imgUsuario" src="assets/imagenes/Zopilote.jpg">El zopilote </h5>
  <div class="card-body">
    <h5 class="card-title">Titulo</h5>
    <p class="card-text">La ecología es la rama de la biología que estudia las relaciones de los diferentes seres vivos entre sí y con su entorno: «la biología de los ecosistemas». Estudia cómo estas interacciones entre los organismos y su ambiente afectan a propiedades como la distribución o la abundancia</p>

  </div>
</div>
