.card{
  background-color: rgb(98, 201, 95);
  color: white;
  zoom:75%;
  margin-top:2em;
  position: relative;
  bottom: 9em;
}
.card:hover{
  opacity: 0.92;
  transition: 0.7s;
  cursor:pointer;
}
.card-text{
  font-size: 1.3em;
}
.card-title{
  font-size: 1.6em;
}
.imgUsuario{
  width: 3em;
  height: 2.5em;
  border-radius: 20em;
  margin-right: 0.9em ;
}
.card-header{
  font-size: 1.5em;
  color:  rgba(2, 7, 255, 0.534);
}
