<div (click)="openScrollableContent(longContent)" class="card">
  <h5 class="card-header"><img class="imgUsuario" src="assets/imagenes/{{item.ImagenUsuario}}">{{item.Autor}} </h5>
  <div class="card-body">
    <h5 class="tituloCarta" class="card-title"><b>{{item.Titulo}}</b></h5>
    <p class="card-text">{{Recortado}}</p>

  </div>
</div>
 
<ng-template  #longContent let-modal>
  
  <div class="modal-header">
    <h4 class="modal-title"><img class="imgUsuario" src="assets/imagenes/{{item.ImagenUsuario}}">{{item.Autor}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
  <div class="Contenido"> <h1><b class="TituloP">{{item.Titulo}}</b></h1>
  <article>{{item.Mensaje}}</article>
  <div  id="ListaRes" *ngFor="let itemm of lista" >
    <app-modal-publicacion [itemm]="itemm">
    </app-modal-publicacion>
  </div>

   </div>
  <div class="Respuestas">
    
  </div>


  </div>
  
  <div class="modal-footer">
    <textarea class="form-control" id="Mensaje" rows="3"></textarea>
    <button id="btnMensaje" type="button" class="btn btn-light" (click)="Responder()">Responder</button>
  </div>

  
</ng-template>



