
<nav class="nav">
   
<div class="letrasNav2">
<ul class="cater">
    <li><a class="cater" routerLink=""><img class="logo" src="assets/imagenes/EcoChanIcono.png"><b>Ecochan</b></a></li>

</ul>
</div>
</nav>




<form class="Registro">
    <h5 class="card-title" id="titulo"><img class="logo" src="assets/imagenes/EcoChanIcono.png"> ECOCHAN</h5>
    <div class="form-group">
      <label for="exampleInputEmail1">ID</label>
      <input maxlength="50" type="email" class="form-control" id="Correo" aria-describedby="emailHelp">
      <p id="Advertencia2">No puedes introducir letras</p>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Contraseña</label>
      <input maxlength="20" type="password" class="form-control" id="Contraseña">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input maxlength="50" type="email" class="form-control" id="Nombre" aria-describedby="emailHelp">
       
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Apellidos</label>
        <input type="email" maxlength="50" class="form-control" id="Apellidos" aria-describedby="emailHelp">
       
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Sección</label>
        <select class="form-control" id="Carrera">
          <option>ISW</option>
          <option>LPS</option>
          <option>LCEF</option>
        </select>
      </div>
      <label for="exampleInputEmail1">Imagen de Perfil</label>
      <div></div>
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
        <label ngbButtonLabel class="btn-primary">
          <input id="r1"  ngbButton type="radio" [value]="1"><img id="imgs" src="../../../assets/imagenes/Zopilote.jpg"> 
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input id="r2" ngbButton type="radio" value="middle"><img id="imgs" src="../../../assets/imagenes/gruya.jpg"> 
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input id="r3" ngbButton type="radio" [value]="false"> <img id="imgs" src="../../../assets/imagenes/arbol.jpg"> 
        </label>
      </div>
      <div id="espacio"></div>
    
    <p id="Advertencia">¡Tienes que llenar todos los campos!</p>
<button id="btnRegistro"  type="submit" (click)="alta()" class="btn btn-primary">Registrarse</button>
  </form>
  

  
  <app-footer></app-footer>