
<nav class="nav">
   
<div class="letrasNav2">
<ul class="cater">
    <li><a class="cater" routerLink="">Inicio</a></li>

</ul>
</div>
</nav>




<form class="Registro">
    <h5 class="card-title" id="titulo"><img class="logo" src="assets/imagenes/EcoChanIcono.png"> ECOCHAN</h5>
    <div class="form-group">
      <label for="exampleInputEmail1">ID</label>
      <input type="email" class="form-control" id="Correo" aria-describedby="emailHelp">
     
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Contraseña</label>
      <input type="password" class="form-control" id="Contraseña">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input type="email" class="form-control" id="Nombre" aria-describedby="emailHelp">
       
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Apellidos</label>
        <input type="email" class="form-control" id="Apellidos" aria-describedby="emailHelp">
       
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Carrera</label>
        <input type="email" class="form-control" id="Carrera" aria-describedby="emailHelp">
       
      </div>
      
    
    <button id="btnRegistro" type="submit" (click)="alta()" class="btn btn-primary">Registrarse</button>
  </form>

  <app-footer></app-footer>