.Registro{
  position: relative;
  left: 25%;
  width: 50%;
  border-color: rgb(98, 201, 95);
  border-style: solid;
  padding: 3em;
  border-radius: 1em;
  top: 4.6em;
}
.logo{
  width: 4em;
  
}
#titulo{
  position: relative;
  left: 35%;
}
nav{
  text-decoration: none;
}
.nav{
  background-color: rgb(98, 201, 95);
  text-decoration: none;
  list-style: none;
}
.cater{
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 1.1em;
}
.letrasNav2:hover{
 opacity: 0.6;
 transition: 1s;
 color: white;
 
}
#Advertencia {
  color: red;
  display: none;
  
}
#Advertencia2{
  
    color: red;
    display: none;
    
  }

.logo{
  width: 2.5em;
}
.cater{
  position: relative;
  right: 0.5em;
}
.letrasNav2{
  position: relative;
 left:1em;
 top:0.55em;
 cursor: pointer;
}
#imgs{

 
  display: flex;
  align-items: center;
  width: 3em;

  height: 3em;
  border-radius:50%;
}
#espacio{
  height: 1em;
}
