body{
    overflow: hidden;
}
.Botones{
    position: relative;
    left: 76%;
    padding:none;
    margin:none;
    width: 16em;
    bottom:23em;
    zoom:110%;
}
.Botones button{
   margin: 0.5em;

  
}
.row{
    z-index: 4;
    position: relative;
    top:1em;
}
.UsIniciado{
    position: relative;
    left:2em;
}
.valid{
    display:none;
    color:red;
}
