body{
    overflow: hidden;
}
.Botones{
    position: relative;
    left: 76%;
    padding:none;
    margin:none;
    width: 16em;
    bottom:25em;
    zoom:110%;
}
.Botones button{
   margin: 0.5em;

  
}
.row{
    z-index: 4;
    position: relative;
    bottom:3.3em;
}
