
<div class="jumbotron">

  <h1 id="titulo" class="display-4"><img class="logo" src="assets/imagenes/EcoChanIcono.png"> <b>Bienvenido a Ecochan</b></h1>
  <p class="txt2">El foro ecologico de ITSON</p>
  <hr class="my-4">
  <p class="txt">¡Comparte lo que piensas acerca de la ecologia!</p>
  <div id="boton">
  <button type="button" id="btnResgistro" [routerLink]="['/Registro']" routerLinkActive="router-link-active" class="btn btn-success btn-lg">Resgistrarse</button>
  <button type="button" id="btnIniciarSesion" class="btn btn-success btn-lg">Iniciar Sesión</button>
  </div>
</div>
